










/*--------HEADER-----------*/
.header{
    border-bottom: 1px solid #ECECEC;
}

.header .logo{
    margin-right: 93px;
}


.header-container{
    display: flex;
    align-items: center;
}
    

.logo {
font-family: Raleway;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--logo-color);
}
.header-logo-span{
color:var(--dark-text-color)
}
.header-list{
    color:var(--dark-text-color);
    display: flex;
    
}
.header-contact-list{
display: flex;
margin-left: auto;
align-items: center;
}
.header-item:not(:last-child){
    margin-right: 50px;
}

.header-contact-item:not(:first-child){
    margin-left: 50px;
}

.header-link{
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
padding-top: 32px;
padding-bottom: 32px;
display: flex;
align-items: center;
position: relative;
transition: color var(--transition);

}
.header-link:hover,
.header-link:focus,
.current-link {
    color: var(--accent-color);
}
.current-link::after{
    display: inline-block;
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    width: auto;
    height: 4px;
    border-radius: 2px;
    margin: 0 auto;
    background-color: var(--accent-color);
    
}

.header-contact-icon{
    display: block;
    margin-right: 10px;
    fill: currentColor;
}

/*----------FOOTER---------*/
.footer{
    background-color: var(--dark-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
    
}
.footer-container{
    display: flex;
    align-items: baseline;
}
.footer-cont-item{
    display: flex;
    flex-direction: column;
}
.footer-cont-item:not(:last-child){
    margin-right: 70px;
}
.footer-cont-item:last-child{
    margin-right: auto;
}
.footer .logo{
    margin-bottom: 20px;
}

.footer-logo-span{
color:var(--light-text-color);
}
.footer-item:not(:last-child){
  margin-bottom: 9px;
}

.footer-link[target="_blank"]
{
color:var(--light-text-color)
}
.footer-link{
color: rgba(255, 255, 255, 0.6);
transition: color var(--transition);
}
.footer-link:hover,
.footer-link:focus{
    color: var(--accent-color);
}
.footer-social{
    display: flex;
    flex-direction: column;
    margin-right: 93px;
}
.footer .social-link{
    color: var(--light-text-color);
}



.footer-title{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--light-text-color);
    margin-bottom: 20px;
}
.mailing-form{
    display: flex;
    text-align: center;
}

.mailing-input{
    width: 375px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
    margin-right: 12px;
    padding: 15px 16px;
    color: var(--light-text-color);
    transition: border-color var(--transition);
    outline: none;

}

.mailing-input::placeholder{
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6)
    }
.mailing-input:hover,
.mailing-input:focus{
border-color: var(--accent-color);
}

.mailing-button  {
    display: flex;
    text-align: center;
}      



.mailing-icon{
    margin-left: 8px;
   
}
  
/*---------HERO--------*/
.hero{
    background-color: var(--dark-background-color);
    padding-bottom: 200px;
    padding-top: 200px;
    text-align: center;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),url(../images/hero_bg_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.hero-title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color:var(--light-text-color);
margin-bottom: 30px;
text-align: center;
max-width: 700px;
margin-left: auto;
margin-right: auto;




}
.main-btn{
font-weight: bold;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.06em;
color: var(--light-text-color);
background-color:var(--accent-color);
padding: 10px 32px;
border: none;
border-radius: 4px;
min-width: 200px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
transition: background-color var(--transition);
}

.main-btn:hover,
.main-btn:focus{
    background-color: #188CE8;
}


/*---------ABOUT----------*/

.about-title{
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--dark-text-color);
margin-bottom: 10px;
}

.about-list{
    display: flex;
}

.about-item{
    flex-basis: calc(100% / 4 - 30px);
}
.about-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-background-color);
    height: 120px;
    margin-bottom: 30px;
}









/*----------WORK----------*/
.work{
    padding-top: 0;
}

.section-title{
font-size: 36px;
line-height: 1.16;
color:var(--dark-text-color);
margin-bottom: 50px;
text-align: center;
}

.work-list{
display: flex;
}
.work-item{
    flex-basis: calc(100% / 3 - 30px);
}
.work-content{
    position: relative;
}
.work-text{
    position: absolute;
    width: 100%;
    background-color:  rgba(47, 48, 58, 0.8);
    bottom: 0;
    padding: 27px ;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: var(--light-text-color);
}



/*---------TEAM------------*/
.team{
    background-color: var(--gray-background-color);
}
.team-list{
    display: flex;
}


.team-item{
    background-color:var(--light-background-color);
    text-align: center;
    flex-basis: calc(100% / 4 - 30px);
    box-shadow:
     0px 1px 3px rgba(0, 0, 0, 0.12),
     0px 1px 1px rgba(0, 0, 0, 0.14), 
     0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.teem-content{
    padding: 30px 32px;

}
.team-position{
    margin-bottom: 16px;
}
.social-list{
    display: flex;
    justify-content: center;
  
}
.social-item + .social-item{
    margin-left: 10px;
}
.social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color:var(--icon-color);
    background-color: rgba(255, 255, 255, 0.1);
    transition: 
    color var(--transition),
    background-color var(--transition);
    
}
.social-icon{
    fill: currentColor;
}
.social-link:hover,
.social-link:focus{
    background-color: var(--accent-color);
    color:#ffffff;
}



.team-people{
font-weight: 500;
color:var(--dark-text-color);
margin-bottom: 10px;

}
.team-position,
.team-people {
font-size: 16px;
line-height: 1.18;
}
/*----------Clients-----------*/
.clients-item{
    flex-basis: calc(100% / 6 - 30px);
}

.clients-link{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-background-color);
    height: 92px;
    border: 1px solid currentColor;
    border-radius: 4px;
    color:var(--icon-color);
    transition: color var(--transition);
    
}
.clients-icon{
    fill:currentColor
}
.clients-link:hover,
.clients-link:focus{
    color: var(--accent-color);
}
   



/*--------------------PORTFOLIO-------------------*/

.filter-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filter-item:not(:last-child){
    margin-right: 8px;
}

.filter-button{
font-weight: 500;
font-size: 16px;
line-height: 1.625;
letter-spacing: 0.03em;
color:var(--dark-text-color);
background-color:var(--gray-background-color);
min-width: 73px;
padding: 6px 22px;
border: none;
border-radius: 4px;
transition: color var(--transition),
background-color var(--transition),
box-shadow var(--transition);
}


.filter-button:hover,
.filter-button:focus,
.current-filter {
color:var(--light-text-color);
background-color:var(--accent-color);
box-shadow: 
0px 3px 1px rgba(0, 0, 0, 0.1), 
0px 1px 2px rgba(0, 0, 0, 0.08), 
0px 2px 2px rgba(0, 0, 0, 0.12);
}



.portfolio-item{
    width: calc(100% / 3 - 30px) ;
}
    

.portfolio-content{
    border: 1px solid #eeeeee;
    border-top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;

    
}
.portfolio-link{
    display: flex;
    flex-direction: column;
    transition: box-shadow var(--transition);
    

}

.portfolio-link:hover,
.portfolio-link:focus{
    box-shadow:
    0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-link:hover .portfolio-hidden-text,
.portfolio-link:focus .portfolio-hidden-text {
    transform: translateY(0);
}

.portfolio-project-name{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--dark-text-color);
    margin-bottom: 4px;
}
.portfolio-project-class{
    font-weight: normal;
    font-size: 16px;
    line-height: 1.875;
 

}
.portfolio-img-block{
    position: relative;
    overflow: hidden;
}
.portfolio-hidden-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--light-text-color);
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform  var(--transition);
}




/*__________________MODAL________________________________*/




.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition:  opacity 200ms linear, visibility 200ms linear;
}
.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0) ;
}
.modal{
    position: absolute;
    background-color:var(--light-background-color);
    width: 528px;
    min-height: 581px;
    padding: 40px;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transition: transform 250ms linear;
    transform: translate(-50%,-50%); 
} 
.modal-close{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-background-color);
    position: absolute;
    right: 8px;
    top: 8px; 
    transition: fill var(--transition) ; 
}
.modal-close:hover,
.modal-close:focus{
    fill: var(--accent-color);
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal-title{
font-weight: bold;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color: var(--dark-text-color);
margin-bottom: 12px;
}
.form-field{
    margin-bottom: 10px;
}


.form-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: none;
    transition: fill var(--transition),
    border-color var(--transition) ;
}

.form-input:focus,
.form-text:focus,
.form-input:hover,
.form-text:hover{
    border-color: var(--accent-color);
}

.form-input:focus + .modal-icon,
.form-input:hover + .modal-icon{
    fill: var(--accent-color);
}
.modal-icon{
    transition: fill var(--transition);
}

.input-title{
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    
}
.form-field-text{
    margin-bottom: 20px;
}

 .form-text{
     width: 100%;
     height: 120px;
     resize: none;
     border: 1px solid rgba(33, 33, 33, 0.2);
     border-radius: 4px; 
     padding: 12px 16px;
     outline: none;
 }

 .form-text::placeholder{
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  
 }
 .btn-field{
    text-align: center;
 }
 
 
     
 
 .modal-icon{
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     left: 12px;
    
 }
 .input-wrqp{
     position: relative;
 }
 .check-field{
     margin-bottom: 30px;
 }
 .check-text{
    letter-spacing: 0.03em;
    color: var(--text-color);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
 }

 .check-text .check-custom{
     border: 2px solid var(--dark-text-color);
     width: 16px;
     height: 15px;
     border-radius: 2px;
     margin-right: 8px;
     justify-content: center;
     display: flex;
     justify-items: center;
     align-items: center;
    
 }

 
.policy-check:checked + .check-text .check-custom{
    border: 2px solid var(--dark-text-color);
  background-color:var(--accent-color)
}
.policy-check:checked + .check-text .policy-icon{
    fill: var(--light-text-color);
}
.policy-check:hover + .check-text .check-custom,
.policy-check:focus + .check-text .check-custom{
    border: 2px solid var(--accent-color)
}
.policy-link{
    color: var(--accent-color);
    margin-left: 3px;
}
.policy-icon{
    fill: transparent;
}
  





