.header{
    border-bottom: 1px solid #ECECEC;
}

.header .logo{
    margin-right: 93px;
}


.header__container{
    display: flex;
    align-items: center;
}
   
.header__logo{
color:var(--dark-text-color)
}
.site-nav{
    display: none;
}
.site-list{
    color:var(--dark-text-color);
    display: flex;
    
}
.contact-list{
display: flex;
margin-left: auto;
align-items: center;
display: none;
}
.site-list__item:not(:last-child){
    margin-right: 50px;
}

.contact-list__item:not(:first-child){
    margin-left: 50px;
}

.site-list__link{
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
padding-top: 32px;
padding-bottom: 32px;
display: flex;
align-items: center;
position: relative;
transition: color var(--transition);
  &:focus, &:hover{
      color: var(--accent-color);
  }
}

.current-link {
    color: var(--accent-color);
        &::after{
            display: inline-block;
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            right: 0;
            width: auto;
            height: 4px;
            border-radius: 2px;
            margin: 0 auto;
            background-color: var(--accent-color);
            
        }
}


.contact-list__icon{
    display: block;
    margin-right: 10px;
    fill: currentColor;
}
