.team{
    background-color: var(--gray-background-color);
}
.team-list{
  --card-item: 1;
  @include tab{
    --card-item: 2;
  }
  @include desk{
    --card-item: 4;
  }
}


.team-list__item{
    background-color:var(--light-background-color);
    text-align: center;
    box-shadow:
     0px 1px 3px rgba(0, 0, 0, 0.12),
     0px 1px 1px rgba(0, 0, 0, 0.14), 
     0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list__content{
    padding: 30px 32px;

}
.team-list__position{
    margin-bottom: 16px;
}


.team-list__people{
font-weight: 500;
color:var(--dark-text-color);
margin-bottom: 10px;

}
.team-list__position,
.team-list__people {
font-size: 16px;
line-height: 1.18;
}