.work{
    padding-top: 0;
}



.work-list__content{
    position: relative;
}
.work-list__text{
    position: absolute;
    width: 100%;
    background-color:  rgba(47, 48, 58, 0.8);
    bottom: 0;
    padding: 27px ;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: var(--light-text-color);
}