.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-title{
    font-size: 36px;
    line-height: 1.16;
    color:var(--dark-text-color);
    margin-bottom: 50px;
    text-align: center;
    }