.section{
    padding-top: 60px;
    padding-bottom: 60px;
}
.section-title{
    
    font-size: 28px;
    line-height: (33 / 28);
    color:var(--dark-text-color);
    margin-bottom: 50px;
    text-align: center;
    @include desk{
    font-size: 36px;
    line-height: 1.16;
    }
}