:root{
    --logo-color: #2196F3;
    --light-text-color: #ffffff;
    --dark-text-color: #212121;
    --accent-color: #2196F3;
    --text-color: #757575;
    --icon-color: #AFB1B8 ;
    
    --light-background-color: #ffffff;
    --dark-background-color: #2F303A;
    --gray-background-color: #F5F4FA;
    
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    --card-item: 3;
    }